.app_container_div {
  position: relative;
}

.header_div {
  background-image: url('../assets/movie_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  padding: 10px 0;
  padding-left: 4em;
}

.header_div > h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: cyan;
}

.selection_div {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 50%;
}

.movieList_div {
  background-color: #332;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1225px;
  padding-top: 40px;
  margin: 0 auto;
}

.movieCard_holder_div {
  display: flex;
  width: 25%;
  justify-content: center;
  margin-bottom: 50px;
}